@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
    text-align: center;
    height: 500px;
}

div{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 720px;
    background: url(https://s3-alpha-sig.figma.com/img/57fa/028c/4d5e8ac1454eac37a3b7544e9e323989?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DOPNY-yQH10Hdnbe9red7bw0fbrnq92EXcrC6XTi2-wcNsCuUnS6Zm51G5rDSgCGGEc8Taew4cjKmkHcg3exOCbBWR5zpweVDJJjYHOOfH3a76xx3a9Mvwof1U2khsUjeWi1tupg3Drgvm3LBxaS45X96bt5hCQiFihjkxRlJxfCvcgIKkumTHdIuLlt67cLbKpU~GU-9Lz43VEvAnqUOcZDWi2wnAgCs1oNAlZzKyzqgG52Lym9VbrT44ApK7TCzfzdQ8YPUZQp1N4X1Z617AjX7p4D6Xo4p1XD5vfSFJRqa5-3qrgScAu9PP0FM8lLC5yZsZR7Hs-zDIhpPi7sHg__);
    background-size: cover;
}

main h3{
    font-family: 'DM Sans';
    font-size: 42px;
    color: #1E0E62;
    padding-top: 30px;
}

main p{
    font-family: 'DM Sans';
    font-size: 16px;
    color: #8d8d95;
    margin-top: 22px;
    width: 370px;
    margin-left: 575px;
}

main button{
    color: #fff;
    font-family: 'DM Sans';
    font-size: 20px;
    background-color: #25DAC5;
    border: 2px solid transparent;
    border-radius: 30px;
    width: 284px;
    height: 60px;
    margin-top: 44px;
}
