@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url(https://s3-alpha-sig.figma.com/img/670c/c6be/34ad4da66693f06eeec2f6573504c89a?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=f8rvA5DwGTpMMEuBfhBOkI2ZUoOJCK3P~9blTw1x3LedK5uXyKWy9irZw-S~~6iJ5c1bhgv~nN-V-zFHQis8Bxn7cmr0vHX79es8mI7fvFlQuxKiu00NAvnzNGBsZtY2ifYbQsILwcJNlSpSlGFopMiF9iDlkA5zGl7zx3J9Y8c9dbTSK4NPPtjOZL5LQQiWstR8-OJ1rKU1av5Y679loxA2gTWVjOhVUthhbCMXpo4EawxWjfjOTJJNDaFgDgyGYxGLVDsWD2B3YpspvYnz9zKQq9Eh3muOHn5FOxP5nvaOlt~eGkRSTLMMuPhg22W6gw-nV-cy9jFTgNWXdZw09g__);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 750px;
}

main h3{
    font-family: 'DM Sans';
    font-size: 42px;
    color: #fff;
    padding-top: 350px;
}

main h3.left{
    margin-right: 30px;
}

main h3.right{
    margin-left: 30px;
}

main a{
    color: red;
    font-size: 50px;
    padding-top: 350px;
}